:host{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.search__input{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 5px;
    transition: border-color linear 0.3s, box-shadow linear 0.3s;
}

.search__input:focus{
    box-shadow: 0px 0px 0 0.2rem rgba(10, 27, 43, 0.575);
}