<div [formGroup]="changePasswordForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Aktualne hasło</label>
      <input type="password" class="form-control" formControlName="oldPassword" placeholder="Aktualne hasło">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Nowe Hasło</label>
      <input type="password" class="form-control" formControlName="newPassword" placeholder="Nowe hasło">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Powtórzenie nowego hasła</label>
      <input type="password" class="form-control" formControlName="newPasswordRepeat" placeholder="Powtórzenie hasła">
      <span 
        class='text-danger'
        *ngIf="changePasswordForm.errors?.passwordsNotSame && (changePasswordForm.get('newPasswordRepeat').touched || changePasswordForm.get('newPasswordRepeat').dirty)" 
      >
        Hasła różnią się
      </span>
    </div>
  </div>
  <div class="form-row">
    <input type="button" class="btn btn-outline-primary btn--my" (click)="changePasswordForm.reset()" value="Reset"/>
    <input type="button" class="btn btn-outline-primary btn--my" (click)="onSubmit()" value="Submit"/>
  </div>
</div>