:host{
    flex: 1;
    display: block;
    overflow-y: auto;
    border-right: none;
    border: solid black;
    border-width: 1px 0;
}

.messages{
    display: flex;
    flex-direction: column;
}

.message-container{
    display: flex;
}

.message-container__empty-space-filler{
    flex: 3;
    min-width: 0px;
}

.message-container__message{
    cursor: context-menu;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 10px;
    max-width: 50%;
}

.message-container__message--my-message{
    border: solid #1fa2ea 1px;
    background-color: #88d6e3;
}

.message-container__message--other-message{
    border: solid #ff9000  1px;
    background-color: #ffe346;
}

.message-container__text{
    font-style: italic;
}